body, html{
    height:100%;
    -webkit-overflow-scrolling: auto;
}
body{
    padding:0;
    margin:0;
    font-family:'helvetica neue', helvetica, arial, sans-serif;
}
h1, p, li{
    color:#222;
    margin:0 0 1em;
}
article li{
    margin:0 0 10px;
}
h1{
    font-size:2.5em;
    font-weight:300;
}
p{
    font-size:1em;
    line-height:1.5em;
}
.wrapper {
    overflow:hidden;
}
.main-content {
    transition: transform 200ms ease 0s;
    transform: translateY(0);
    will-change: transform;
    position: relative;
}
.main-content > .no-scroll-mask {
    display: none;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    background: #e8e8e8;
    opacity: 0;
    position: absolute;
    overflow: hidden;
    overflow-y: scroll;
}
.main-content article {
    padding: 30px 60px 30px 60px;
}
.nav {
    position:fixed;
    top:0;
    width:250px;
    height:100%;
    transform: translateY(0);
    will-change: transform;
    z-index: 9;
}
.left-nav {
    transition: left 200ms ease 0s;
    left:-250px;
}
.right-nav {
    transition: right 200ms ease 0s;
    right:-250px;
}
.nav ul {
    width:250px;
    height:100%;
    padding:0;
    margin:0;
    list-style:none;
    background:#222;
    overflow:hidden;
}
.nav li {
    margin:0;
}
.nav a {
    color:#fff;
    font-size:1em;
    text-decoration:none;
    display:block;
    padding:12px 15px;
    font-weight:300;
    letter-spacing:2px;
    border-bottom:1px solid #333;
}
.trigger {
    display:block;
    font-weight:700;
    background:#1ea1b8;
    width:42px;
    height:42px;
    line-height:42px;
    color:#fff;
    text-align:center;
    font-size:2em;
    line-height:1.1em;
    position:absolute;
    z-index:500;
    top:10px;
}
.left-trigger {
    left:10px;
    transition: left 200ms ease 0s;
}
.right-trigger {
    right:10px;
    transition: right 200ms ease 0s;
}
#left-trigger,
#right-trigger {
    display:none;
}
#left-trigger:checked ~ .left-nav {
    left:0;
}
#right-trigger:checked ~ .right-nav {
    right:0;
}
#left-trigger:checked ~ .left-trigger {
    left:260px;
}
#right-trigger:checked ~ .right-trigger {
    right:260px;
}
#left-trigger:checked ~ .main-content,
#right-trigger:checked ~ .main-content {
    height: 100%;
}
#left-trigger:checked ~ .main-content {
    transform:translateX(250px);   
}
#right-trigger:checked ~ .main-content > .no-scroll-mask,
#left-trigger:checked ~ .main-content > .no-scroll-mask {
    display: block;
    opacity: .4;
}
#right-trigger:checked ~ .main-content {
    transform:translateX(-250px);
}